*{
    margin:0; padding:0;overflow: hidden;
    background-color: bisque;
}

html,body {
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}
#canvas {
    height: 100vh;
    width: 100vw;
    background-color: white;
    display:block; 
}   
